---
title:  "Home"
layout: archive
permalink: /
author_profile: true
comments: false
---

#Research

I a PhD student at UF studying post transcriptional regulation of acid stress survival systems in E. coli and the implications this may have in the microbiome. I'm interesting being able bring and leverage computational methods and approachs to augment more traditional wetlab approaches and have been able to experience both sides. 

I'm planning to graduate in Spring of 2022 and am currently interested in post-doc and industry positions.