---
title:  "Home"
layout: archive
permalink: /
author_profile: true
comments: false
---

<h1>Research</h1>

I'm a Ph.D. student at UF studying post-transcriptional regulation of acid stress survival systems in E. coli and the implications this may have in the microbiome. I'm interested in being able to bring and leverage computational methods and approaches to augment more traditional wet-lab approaches and have been able to experience both sides. I'm planning to graduate in the Spring of 2022 and am currently interested in post-doc and industry positions.

I'm planning to graduate in Spring of 2022 and am currently interested in post-doc and industry positions.