---
title:  "Home"
layout: archive
permalink: /
author_profile: true
comments: false
---

<h1>Research</h1>

I'm a Ph.D. student at UF studying post-transcriptional regulation of acid stress survival systems in E. coli and the implications this may have in the microbiome. My goals are to use computational methods and approaches wet-lab approaches to be able to explore regulation and interactions in greater depth. 

I'm planning to graduate in the Spring of 2022 and am currently interested in post-doc and industry positions.
